@tailwind base;

@layer base {
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
  label {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  li {
    cursor: pointer;
    display: flex;
    gap: 4px;
  }
  li:hover {
    font-weight: 600;
  }
}
@tailwind components;
@tailwind utilities;
@layer utilities {
  .center {
    display: flex;
    position: absolute;
    left: 500px;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.25);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.25);
    }
    100% {
      transform: scale(1);
    }
  }
}
